body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('matrix.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
}

.header nav {
    text-align: center;
}

.header ul {
    list-style-type: none;
    padding: 0;
}

.header ul li {
    display: inline;
    margin: 0 10px;
}

.header ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

.header ul li a:hover {
    color: #0d30f7; 
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px; /* Defina uma largura máxima para garantir que o conteúdo não fique muito largo */
    width: 90%; /* Use uma largura percentual para que a largura se ajuste conforme necessário */
    margin: 20px; /* Adicione margens para espaçamento */
}

h1 {
    margin-bottom: 20px;
}

.settings {
    margin-bottom: 20px;
}

.settings label {
    display: block;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #059b00;
}

.result {
    margin-top: 20px;
   font-size: 19px;
}

#passwordResult {
    font-weight: bold;
    word-break: break-all;
}

#copyPassword {
    margin-top: 10px;
    background-color: #0071b3; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#copyPassword:hover {
    background-color: #dd511a; 
}

/* Mídia para dispositivos de até 600px de largura */
@media only screen and (max-width: 600px) {
    .container {
        width: 90%; /* Redefina a largura para ocupar a maior parte da tela em dispositivos menores */
    }
}
